<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title th:text="${loggedInUser.name}+' | Profile'">Dashboard</title>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}"> -->
</head>
<body>
    <div id="content">
        <h1>This is User Profile</h1>
        <h2>Loggd in as: <span th:text="${loggedInUser.name}"></span></h2>
        <h2>Email: <span th:text="${loggedInUser.email}"></span></h2>
        <button
            onclick="window.location.href='/logout'"
            class="inline-flex h-8 items-center justify-center gap-2 text-white mx-2 bg-gray-700 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs w-1/4 px-3 py-1.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 outline-none focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-60">
            Logout
        </button>
    
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>