<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            margin: auto;
            width: 50%;
            padding: 30px;
            background: #e2e2e2;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Home Page</h1>
        <!-- <h3 data-th-text="${name}" =""></h3> -->
        <h3>Organization Name : <span data-th-text="${name}"></span></h3>
        <h3>User Name : <span data-th-text="${userName}"></span></h3>
        <h3>Git Repo : <span data-th-text="${gitRepo}"></span></h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse atque dignissimos quos, est voluptate porro quo ad non libero reiciendis temporibus quasi totam numquam obcaecati omnis voluptas nemo et, quod rem ipsam qui. Harum voluptatum eligendi illo laudantium maxime et atque at ullam sapiente, amet voluptatibus ipsam provident enim perspiciatis delectus. Ab omnis aut totam quam nesciunt numquam repellendus, corrupti amet fuga quo suscipit consequuntur. Dolore atque, non natus voluptatem nemo neque, adipisci optio incidunt, accusamus ullam architecto deserunt dolores eius quis voluptate aliquid facilis nesciunt ipsam temporibus praesentium modi consequatur? Quasi molestiae placeat, maiores nulla fugit alias est dolore?</p>
    </div>
</body>
</html>