<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Sign Up</title>
</head>
<body>
    <div id="content">
        <!-- card -->
       <div class="grid grid-cols-12">
            <div class="md:col-span-3" ></div>
            <div class="md:col-span-6 col-span-12 ">
                <div 
                href="#" 
                class="block  p-6 bg-white border-t-[12px] border-t-blue-700  border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-900  dark:hover:bg-gray-800 dark:border-t-blue-700">

                <h5 
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    Register User
                </h5>
                <p 
                    class="font-normal text-gray-700 dark:text-gray-400 mb-4">
                    Join us, manage your contacts smartly!!!
                </p>

                <!-- message frgment -->
                <div data-th-replace="~{message :: messagebox}"></div>
                <!-- form -->
                <form 
                data-th-action="@{/registerUser}" 
                method="post"
                data-th-object="${userForm}" 
                novalidate
                class="max-w-full mx-auto p-5">
                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 w-full mb-2 group">
                            <input type="text" name="floating_first_name" id="floating_first_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                            <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First name</label>
                        </div>
                        <div class="relative z-0 w-full mb-2 group">
                            <input type="text" name="floating_last_name" id="floating_last_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                            <label for="floating_last_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last name</label>
                        </div>
                        </div>
                        <p 
                        data-th-if="${#fields.hasErrors('name')}"
                        data-th-errors="*{name}"
                        class="text-red-500 text-sm mb-3 mt-0">User name cannot be empty</p>
                    <div class="relative z-0 w-full mb-5 mt-3 group"> 
                        <input data-th-field="*{email}" type="email" name="floating_email" id="floating_email" class="mb-2 block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                        <label for="floating_email" class="mb-2 peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
                        <p 
                        data-th-if="${#fields.hasErrors('email')}"
                        data-th-errors="*{email}"
                        class="text-red-500 text-sm mb-3 mt-0">Enter valid email</p>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input data-th-field="*{password}" type="password" name="floating_password" id="floating_password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                        <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
                        <button type="button" onclick="togglePasswordVisibility('floating_password')" class="absolute right-0 top-0 mt-3 mr-3 text-gray-600 hover:text-gray-700"><i class="fa-solid fa-eye fa-sm"></i></button>
                        
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <!--  -->
                        <!-- <input type="password" name="repeat_password" id="floating_repeat_password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                        <label for="floating_repeat_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirm password</label>
                         -->
                    
                        <!--  -->
                        <input type="password" name="repeat_password" id="floating_repeat_password" class="mb-2 block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                        <label for="floating_repeat_password" class=" peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirm password</label>
                        <button type="button" onclick="togglePasswordVisibility('floating_repeat_password')" class="absolute right-0 top-0 mt-3 mr-3 text-gray-600 hover:text-gray-700"><i class="fa-solid fa-eye fa-sm"></i></button>
                        <p id="passwordMismatch" class="text-red-500 text-sm mt-2 hidden">Enter valid Password</p>
                        <p 
                        data-th-if="${#fields.hasErrors('password')}"
                        data-th-errors="*{password}"
                        class="text-red-500 text-sm mb-3 mt-0">Password cannot be empty</p>
                    </div>
                    
                    <div class="relative z-0 w-full mb-5 group">
                        <input data-th-field="*{phoneNumber}" type="tel" pattern="[0-9]{10}" name="mb-2 floating_phone" id="floating_phone" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                        <label for="floating_phone" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Phone number (123-456-890)</label>
                        <p 
                        data-th-if="${#fields.hasErrors('phoneNumber')}"
                        data-th-errors="*{phoneNumber}"
                        class="text-red-500 text-sm mb-3 mt-2">Enter valid phone number</p>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <label for="about" class="block mb-2 text-sm font-medium text-gray-500 dark:text-gray-400">about</label>
                        <!-- <label for="about" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">about</label> -->
                        <textarea data-th-field="*{about}" id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Tell us something intresting about you..."></textarea>
                        
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="hidden" id="fullName" name="fullName" data-th-field="*{name}" />
                    </div>
                    <div class="mb-3">
                        <button type="submit"  id="submitBtn" class="text-white bg-gray-600 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                        <button type="reset" class="text-white bg-gray-600 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reset</button>
                    </div>
                    
                </form>
  
                </div>
            </div>
            <div class="md:col-span-3"></div>
       </div>
    
        <!-- Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti alias quasi esse a eos ex, laudantium recusandae nesciunt ad sed! -->
    </div>
    <script>
        // console.log("in about page");
        // alert("in about page");
        function togglePasswordVisibility(id) {
            const passwordField = document.getElementById(id);
            const type = passwordField.getAttribute("type") === "password" ? "text" : "password";
            passwordField.setAttribute("type", type);

            // Change the button text
            const button = passwordField.nextElementSibling;
            // button.textContent = type === "password" ? "Show" : "Hide";
        }


        document.addEventListener('input', function () {
            const firstName = document.getElementById('floating_first_name').value;
            const lastName = document.getElementById('floating_last_name').value;
            const fullName = firstName + ' ' + lastName;
            document.getElementById('fullName').value = fullName;

            const password = document.getElementById('floating_password').value;
            const confirmPassword = document.getElementById('floating_repeat_password').value;
            const submitBtn = document.getElementById('submitBtn');
            const passwordMismatch = document.getElementById('passwordMismatch');

            if (password !== confirmPassword) {
                submitBtn.disabled = true;
                passwordMismatch.classList.remove('hidden');
            } else {
                submitBtn.disabled = false;
                passwordMismatch.classList.add('hidden');
            }
        });
    </script>
</body>
</html>